@import '../../custom';

.dropdown-box {
  &__button.btn {
    font-size: 13px;
    padding: 0 8px;
    color: #000;
    background-color: #fff;
  }
}
.select-box.dropdown-toggle {
  background-color: #fff;
  color: #000;
  font-size: 13px;
  padding: 2px 9px;
}
.dropdown {
  margin: 0 auto;
}
@include media(mobile) {
  .dropdown-box__button.btn {
    font-size: 9px;
    padding: 0 5px;
  }
}
