table {
  margin: 0 auto;
  border: 0;
  background-color: #fff;
  width: 90%;
}

th,
td {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  text-align: center;
}

.leader_check_header {
  width: 55%;
}
.cell_member_check_header {
  width: 20%;
}

.select_box_dawn,
.select_box_word {
  border: 0;
  width: 40px;
}

select {
  font-size: 0.9rem;
}

.i2 {
  background-color: #f7f6f5;
}
.i3 {
  background-color: #f7f6f5;
}

// 프린트용
.print-div {
  input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
  }
  font-size: 12px;

  table {
    margin: 0 auto;
    border: 0;
    background-color: #fff;
    width: 90%;
  }

  th,
  td {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: center;
  }

  .leader_check_header {
    width: 55%;
  }
  .cell_member_check_header {
    width: 20%;
  }

  .select_box_dawn,
  .select_box_word {
    font-size: 0.7rem;
    border: 0;
    width: 40px;
  }

  select {
    font-size: 0.9rem;
  }

  .i2 {
    background-color: #f7f6f5;
  }
  .i3 {
    background-color: #f7f6f5;
  }
}

.checkbox {
  cursor: pointer;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}