@import '../../_custom.scss';

.cell-container {
  font-family: $main-font;
  margin: 0 auto;
  border: 0;
  background-color: #fff;
  width: 90%;
  text-align: center;
}

.cell-header {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 2fr;
  }
  &__item {
    position: relative;
  }
  &__position {
    @extend .mid-align--both;
  }
}
.cell-wrapper {
  will-change: transform;
}
.cell-wrapper.sortabling {
  .network-wrapper {
    background-color: #e8e8e8;
    border: 1px dashed #fc5e82;
    margin: 10px;
  }
}

.leader-check,
.member-check {
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    width: 30%;
  }
}

.btn.btn-outline-dark {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.printButton {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
  font-size: 1.2rem;
}

@include media(mobile) {
  .button-box {
    margin: 0;
    width: 60px;
    &__button.btn {
      font-size: 11px;
      width: 50px;
    }
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.icon-plus {
  margin: 10px auto;
  width: 47px;
  height: 47px;
  background-color: #bbb;

  &.w25 {
    width: 25px;
    height: 25px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:after {
      width: 18px;
      height: 4px;
      left: 4px;
      top: 11px;
    }

    &:before {
      width: 4px;
      height: 18px;
      left: 11px;
      top: 4px;
    }
  }

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &:after {
    width: 25px;
    height: 6px;
    left: 11px;
    top: 20px;
  }

  &:before {
    width: 6px;
    height: 25px;
    left: 20px;
    top: 11px;
  }
}
.network-wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
  &__relative {
    position: relative;
    min-height: 90px;
  }
  &__position {
    @extend .mid-align--both;
  }
  &__flex--column {
    display: flex;
    flex-direction: column;
    min-height: 60px;
  }
  &__icon {
    cursor: pointer;
    margin: 2px;
  }
}

.network-container {
  &__list {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    min-height: 50px;
  }
  &__item {
    position: relative;
  }
  &__position {
    width: 100%;
    @extend .mid-align--both;
  }
}
.z-indexing {
  z-index: 1000;
}

.member-container {
  height: 100%;
  &__ul {
    display: flex;
  }
  &__li {
    position: relative;
    width: 30%;
    height: 35px;
  }
  &__item {
    position: relative;
    height: 35px;
    &--add {
      height: 100%;
    }
  }
  &__input {
    width: 70px;
    border-radius: 7px;
    padding: 3px;
    border: 1px solid #ccc;
  }
  &__check {
    @extend .mid-align--both;
  }
  &__button {
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
    &:hover {
      color: #999;
    }
    &.active {
      color: #ccc;
    }
  }
  &__position {
    width: 100%;
    @extend .mid-align--both;
  }
  .button-box {
    @extend .mid-align--both;
  }
}

.name-box {
  @extend .mid-align--both;
  width: 100%;
}
.network-box {
  @extend .mid-align--both;
  width: 100%;
  &__network {
    font-size: 14px;
    font-weight: 500;
  }
  .btn.network-box__button {
    width: 50px;
    margin-top: 5px;
    padding: 0 8px;
    font-size: 12px;
  }
}
.networkName-box {
  &__button.btn.btn-outline-dark {
    font-size: 13px;
  }
}

.button-box__button--add.btn {
  font-size: 12px;
  padding: 0;
}

@include media(mobile) {
  .cell-container {
    font-size: 9px;
    .cell-table__td {
      padding: 0.2rem;
    }
    .network-box {
      display: none;
    }
    .check__svg {
      width: 12px;
    }
  }
  .cell-header {
    padding: 0;
    &__item:first-child {
      display: none;
    }
    &__list {
      grid-template-columns: 1fr 3fr 1fr 2fr;
    }
  }
  .network-container {
    &__list {
      grid-template-columns: 1fr 3fr 1fr 2fr;
    }
    &__item:first-child {
      display: none;
    }
  }
  .networkName-box {
    &__button.btn.btn-outline-dark {
      font-size: 10px;
      padding: 4px;
    }
  }
}

div.selectBox__option {
  font-size: 12px;
  min-width: 0;
  padding: 0;
  a.dropdown-item {
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    &:hover {
      background-color: #545b62;
      color: #fff;
    }
  }
}
@include media(mobile) {
  button.selectBox {
    font-size: 0.5rem;
    padding: 0 0.2rem;
  }
  div.selectBox__option {
    font-size: 10px;
  }
}

.checkbox {
  cursor: pointer;
}

.custom-checkbox {
  display: none;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
@include media(mobile) {
  .check:before {
    top: -3px;
    left: -3px;
    width: 24px;
    height: 24px;
  }
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #6c757d;
}

input:checked + .check svg {
  stroke: #6c757d;
}
input:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
input:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

// ****************** 어드민용 ********************
.print-area.cell-table {
  input[type='checkbox'] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
  }
  font-size: 12px;
  margin: 0 auto;
  border: 0;
  background-color: #fff;
  width: 90%;
  .cell-table__th {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    &--leader-check {
      width: 35%;
    }
    &--leader-name,
    &--member-name {
      width: 150px;
    }
    &--member-check {
      width: 20%;
    }
  }
  .cell-table__td {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .cell_member_check_header {
    width: 20%;
  }

  .check:before {
    top: -3px;
    left: -3px;
    width: 24px;
    height: 24px;
  }
}
