// @import "~bootstrap/scss/bootstrap";
@import "../../_custom.scss";

table {
  margin: 0 auto;
  border: 0;
  background-color: #fff;
  width: 90%;
  text-align: center;
}
@include media(mobile) {
  table {
    font-size: 9px;
    width: 100%;
  }
  .section_name_header,
  .networkName-box {
    display: none;
  }
  svg {
    width: 12px;
  }
  td {
    padding: 0.2rem;
  }
}
th,
td {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.leader_check_header {
  width: 55%;
}
.cell_member_check_header {
  width: 20%;
}

.select_box_dawn,
.select_box_word {
  border: 0;
}

select {
  background: #fff;
  // -moz-appearance: none; /* Firefox */
  // -webkit-appearance: none; /* Safari and Chrome */
  // appearance: none;
}

.i3 {
  background-color: #f7f6f5;
}

// 프린트용
.printArea {
  input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
  }
  font-size: 12px;

  table {
    margin: 0 auto;
    border: 0;
    background-color: #fff;
    width: 90%;
  }

  th,
  td {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .leader_check_header {
    width: 55%;
  }
  .cell_member_check_header {
    width: 20%;
  }

  .select_box_dawn,
  .select_box_word {
    font-size: 0.7rem;
    border: 0;
    width: 40px;
  }

  select {
    font-size: 0.9rem;
  }

  .i2 {
    background-color: #f7f6f5;
  }
  .i3 {
    background-color: #f7f6f5;
  }
}

.checkbox {
  cursor: pointer;
}

.custom-checkbox {
  display: none;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
@include media(mobile) {
  .check:before {
    top: -3px;
    left: -3px;
    width: 24px;
    height: 24px;
  }
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #9775fa;
}

input:checked + .check svg {
  stroke: #9775fa;
}
input:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
input:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
