<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Login Page</h1>
  <form action="/signin" method="POST">
   <input type="text" placeholder="ID" id="id" name="id">
   <br />
   <input type="text" placeholder="Password" id="pwd" name="pwd">
   <button type="submit">Login</button>
  </form>
</body>
</html>