<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Register Page</h1>
  <form action="/signin/register" method="POST">
   <input type="text" placeholder="ID" id="id" name="user_id">
   <br />
   <input type="text" placeholder="Password" id="pwd" name="password">
   <button type="submit">회원가입</button>
  </form>
</body>
</html>