@import '../../custom';

.modal__wrap {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__wrap .content {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  height: auto;
}

.confirmModal-container {
  font-family: $main-font;
  &__header {
    font-size: 20px;
    margin-bottom: 5px;
  }
  &__message {
    font-weight: 400;
    margin-bottom: 5px;
  }
  .button-box {
    display: flex;
    justify-content: center;
    &__button.btn {
      margin: 5px;
      width: 90px;
      padding: 0;
    }
  }
}