@import '../../_custom.scss';
$active-color: #7226e5;

.tab {
  font-family: $main-font;
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin: 0;
  margin-bottom: 10px;
  justify-content: center;
  font-size: 14px;
  .index {
    color: #5d5d5d;
    text-align: center;
    border-bottom: 2px solid #fff;
    &__a {
      display: block;
      padding: 1rem 2rem;
      text-decoration: none;
      color: #000;
    }
    &__a--admin {
      @extend .index__a;
      padding: 0 1rem;
    }
    &.active {
      border-bottom: 2px solid $active-color;
      a {
        color: $active-color;
      }
      font-weight: 600;
    }
    &:hover {
      a {
        color: $active-color;
      }
      border-bottom: 2px solid $active-color;
    }
  }
}
@include media(mobile) {
  .tab {
    font-size: 9px;
  }
  a {
    padding: 5px;
  }
}
