@import '../../_custom.scss';

.tab {
  display: flex;
  margin: 0;
  justify-content: center;
  font-size: 14px;
  .index {
    color: #5d5d5d;
    text-align: center;
    a {
      display: block;
      padding: 1rem 2rem;
      text-decoration: none;
      color: #5d5d5d;
      &.active {
        border-bottom: 1px solid #7b6ea2;
        color: #7b6ea2;
      }
    }
    @include media(mobile) {
      a {
        padding: 5px;
      }
    }
    &:hover {
      a {
        color: #7b6ea2;
      }
    }
    
  }
  
}
@include media(mobile) {
  .tab {
    font-size: 9px;
  }
}