// @import "custom";
// @import "~bootstrap/scss/bootstrap";
a:hover {
 text-decoration: none;
}

$fontSize: 52px;
ul {
  list-style: none;
  padding: 0;
}

.title {
  padding: 3rem;
  font-size: $fontSize;
  text-align: center;
  a {
    text-decoration: none;
    color: #9775fa;
  }
  a:hover {
    text-decoration: none;
    color: #9775fa;
  }
}

.container {
  background-color: #f3f3f3;
}
