@import './custom';

.title {
  font-family: $main-font;
  padding: 2rem;
  font-size: 40px;
  text-align: center;
  background-size: 100% 100%;
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: none;
  }
}
.admin-title {
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
}
.root__description {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  font-family: $main-font;
}

.main-container {
  min-height: 1000px;
  background-color: #ececec;
}


@include media(mobile) {
  .title {
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }
  .admin-title {
    font-size: 14px;
  }
  div.main-container {
    max-width: none;
    padding: 0;
    margin: 0;
  }
}
