@import './custom';

a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  &__list {
    display: flex;
  }
  &__button {
  }
}
.logo-box {
  display: flex;
  margin: 2px 11px;
  &__logo {
    font-size: 25px;
    color: #fd8181;
  }
  &__image {
    padding: 5px;
    width: 45px;
  }
  &__desc {
    position: relative;
    color: #91919e;
    font-size: 30px;
  }
}
.title {
  padding: 2rem;
  font-size: 40px;
  text-align: center;
  background-size: 100% 100%;
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    text-decoration: none;
  }
}
.admin-title {
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  color: #ffe9ce;
}
.root__description {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.main-container {
  min-height: 1000px;
  background-color: #91919e;
}
@include media(mobile) {
  .title {
    font-size: 25px;
    padding: 0.5rem;
  }
  div.main-container {
    max-width: none;
    padding: 0;
    margin: 0;
  }
}
