$fontSize: 52px;
ul {
  list-style: none;
  padding: 0;
}

.title {
  color: #9775fa;
  font-size: $fontSize;
  text-align: center;
}

.container {
  background-color: #eaeaea;
}

.tab {
  display: flex;
  justify-content: center;
  .index {
    color: #5d5d5d;
    text-align: center;
    a {
      display: block;
      padding: 1rem 3rem;
      text-decoration: none;
      color: #5d5d5d;
    }
    &:hover {
      a {
        color: #9775fa;
      }
    }
  }
  
}

table {
  margin: 0 auto;
  border: 0;
  background-color: #fff;
  width: 90%;
}

th, td {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  text-align: center;
}

.leader_check_header {
  width: 55%;
}
.cell_member_check_header {
  width: 20%;
}