@import '../../custom';

.members-container {
  font-size: 20px;
  font-family: $main-font;
  text-align: center;

  &__col {
    padding: 10px;
  }
  &__wrap {
    min-height: 600px;
  }
  .col {
    border: 1px solid #ccc;
    padding: 7px;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  color: black;
}