.printButton {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
  font-size: 1.2rem;
}

.edit-box {
  justify-content: flex-end;
  display: flex;
}

.button-box {
  margin: 0.2rem;
  width: 4rem;
  height: 1.5rem;
}
.edit-box__button {
  &--print {
    margin: 0.2rem;
    width: 4rem;
    height: 1.5rem;
    cursor: pointer;
    background: #da6b5f;
    font-size: 0.8rem;
    border-radius: 1rem;
    color: #fff;
  }
  &--init {
    margin: 0.2rem;
    width: 4rem;
    height: 1.5rem;
    cursor: pointer;
    background: #70dabe;
    font-size: 0.8rem;
    border-radius: 1rem;
    color: #fff;
  }
}
